# Build cache and modules
bin/
build/
dist/
vendor/

# Git
.git/
.gitignore

# IDE/editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# ENV
.env
.env.example

# EXECUTABLE FILE
*.exe

# SQLITE
data/

# MARKDOWN FILES
*.md